@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    transition: all ease-in-out 1s;
}

body{
    width: 100%;
    height: 100vh;
    color: black;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

section{
    height: 80vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 1840px){
    section{
        height: 90vh;
    }
  
}
@media screen and (max-width: 912px){
    section{
        height: 60vh;
    }
  
}

@media screen and (max-width: 860px){
    section{
        height: 80vh;
    }
  
}
@media screen and (max-width: 750px){
    section{
        height: 70vh;
    }
  
}

@media screen and (max-width: 600px){
    section{
        height: 70vh;
    }
  
}

@media screen and (max-width: 380px){
    section{
        height: 70vh;
    }
  
}

