 .about_content{
    margin-top: -50px;
    height: 65vh;
    display: flex;
 }
 .about_cover{
    height: 75vh;
    
 }

 .about_pic{
   width: 50%;
   height: 90vh;
   display: flex;
 }
 .about_pic > .cloud_vid{
   margin-top: -150px;
 }



 .about_cover_active{
    height: 127vh;
 }


 .about_content > .about_typography > h1{
    color: blueviolet;
    font-size: 18px;
 }

 .about_content > .about_typography > p{
 font-weight: 500;
 font-size: 14px;
 margin-bottom: 30px;
 }
 .about_content > .about_typography{
    overflow: hidden;
    width: 650px;
    text-overflow: ellipsis;
    line-height: 24px;
    height: 60vh;

 }

 /*STYLES WHEN THE OVERFLOW IS ACTIVE*/

 .about_content > .overflow > h1{
   color: blueviolet;
   font-size: 18px;
}

 .about_content > .overflow{
    white-space: normal;
    padding: 14px;
    line-height: 27px;
    font-weight:500 ;
    font-size: 13px;

 }
 .overflow{
   margin-left: -100px;
 }

 .about_content > .overflow > h1{
   color: blueviolet;
 }

 .about_content > .overflow > p{
   margin-bottom: 20px;
 }


 @media screen and (max-width: 855px){
   .about_pic{
      height: 90vh;
      display: flex;
    }
   .about_content{
      height: 55vh;
      margin-bottom: 100px;
   }

   .about_cover{
      height: 80vh;
      margin-top:0px;
   }

   .about_pic{
      width: 20%;
      height: 90vh;
      display: flex;
    }
  
   .about_pic > .cloud_vid{
      opacity: 32%;
   }
   .about_pic > .set_vid{
      margin-left: -150px;
      opacity: 33%;
    }
    .about_pic > .secure_vid{
      opacity: 0%;
    }

    .about_typography{
      opacity: 100%;
      font-weight: 700;
      z-index: 1111000;
    }

    .overflow{
      margin-top: 90px;
      width: 600px;
      position: absolute;
      left: 100px;

    }

    .about_cover_active{
      height: 100vh;
      margin-top:0px;
   }

 }

 @media screen and (max-width: 755px){
   .about_pic{
      width: 5%;
      height: 50vh;
      display: flex;
    }
    .about_content > .about_typography{
      margin-left: -10px;
      width: 430px;
      height: 60vh;
  
   }
   .about_cover{
      height: 80vh;
      margin-top: 70px;
   }

   
 }

 @media screen and (max-width: 699px){


   .about_cover{
      height: 90vh;
   }
   .about_pic{
      width: 30%;
      height: 50vh;
      display: flex;
    }
   .about_content{
      height: 65vh;
   }
   .about_content > .about_typography{
      z-index: 1000;
      overflow: hidden;
      margin-left: -120px;
      width: 430px;
      text-overflow: ellipsis;
      line-height: 24px;
      height: 70vh;
  
   }
   .about_pic > .cloud_vid{
      opacity: 32%;
   }
   .about_pic > .set_vid{
      margin-left: -150px;
      opacity: 33%;
    }
    .about_pic > .secure_vid{
      opacity: 0%;
    }

    .overflow{
      width: 430px;
    }
    .about_cover_active{
      height: 219vh;
   }

 }



 .about_btn{
    margin-left: 520px;
    height: 40px;
    width: 120px;
    background:  rgb(66, 152, 202);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
 }

 .about_btn_active{
    margin-left: 530px;
    margin-top: 328px;
    height: 40px;
    width: 150px;
    background:  rgb(66, 152, 202);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
 }
 .about_btn:hover{
    border: 1px solid rgb(66, 152, 202);
    border-radius: 9px;
    background: white;
    color: rgb(66, 152, 202);
    cursor: pointer;
 }



 @media screen and (max-width: 755px){

  
   .about_btn_active{
      margin-top: 740px;
      margin-left: 10px;
   }
   .about_btn{
      margin-left: 30px;

   }
   
 }

 