.contact_content{
    height: 120vh;
}

.contact_content > .contact_bg{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.contact_content > h1{
    color: white;
    position:relative;
    padding-top: 30px;
    margin-left: 80px;
    width: 600px;
}

.contact_content > .form_contact{
    color: white;
    z-index: 10000px;
    position: relative;
    padding-top: 30px;
    margin-left: 80px;
 
    
}



.contact_content > .form_contact > form > div > input{
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    display: block;
    border: 2px solid rgb(66, 152, 202);
    border-radius: 8px;
    background: transparent;
    color: white;
    padding-left: 20px;

}

.contact_content > .form_contact > form > div > textarea{
    height: 200px;
    width: 350px;
    margin-bottom: 20px;
    display: block;
    border: 2px solid rgb(66, 152, 202);
    border-radius: 8px;
    background: transparent;
    color: white;
    padding-left: 20px;

}

.contact_us_btn{
    width: 130px;
    padding: 11px;
    border: 2px solid rgb(66, 152, 202);
    border-radius: 9px;
    background: transparent;
    color: rgb(66, 152, 202);
    font-weight: 500;

}
.contact_us_btn:hover{
    background: black;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 799px){
    .contact_bg{
        height: 140vh;
    }
    .contact_content > h1{
        margin-left: 30px;
        width: 400px;
        font-size: 18px;
    }

    .contact_content > .form_contact > form > div > textarea{
        height: 200px;
        width: 320px;
       
    }
}