.footer{
    height: 10vh;
}

.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.logo_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    width: 20%;
    height: 60px;
    margin-top: 20px;
    margin-left: 300px;
}

.cloud_footer{
    width: 50px;
}

@media screen and (max-width: 1400px) {
    .logo_footer{
        width: 20%;
        height: 60px;
        margin-top: 20px;
        margin-left: 100px;
    }

    .footer_container{
        width: 90%;
    }
}
