.landing_content{
    position: absolute;
    display: flex;
    width: 100%;
    height: 80vh;
    background: black;
    color: white;
}

.landing_content > .logo > .cloud{
    width: 250px;
    height: 100px;
    color: white;
    position: absolute;
    top: -5%;
    left: 0%;
    opacity: 23%;
}

.landing_content > .landing_bg{
    width: 100%;
    position: absolute;
}

.landing_content > .logo{
    margin-top: 150px;
    margin-left: 100px;
    padding-left: 20px;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    z-index: 1000;
}

.landing_content > .typo{
    position: absolute;
    margin-left: -10px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 40px;
    display: flex;
}


@media screen and (max-width: 936px){
    .landing_content > .typo{
        padding-top: 60px;
        padding-left: 20px;
        font-weight: 700;
        font-size: 35px;
        display: flex;
        z-index: 1000;
    }

    .landing_content{
        height: 70vh;
    }

    .landing_content > .logo > .cloud{
        color: white;
        position: absolute;
        top: 2%;
       
    }
    
}

/*TABLET DESPLAY STYLES */
@media screen and (max-width: 820px){
    .landing_content > .typo{
        padding-top: 60px;
        padding-left: 20px;
        font-weight: 70;
        font-size: 20px;
        display: flex;
        z-index: 1000;
    }

}


/*MOBILE DISPLAY STYLES*/
@media screen and (max-width: 600px){
    .landing_content > .typo{
        padding-top: 50px;
        padding-left: 20px;
        font-weight: 700;
        font-size: 22px;
        display: flex;
        z-index: 1000;
    }

    .landing_content{
        height: 70vh;
    }
    
}

.slogan {
    margin-left: 5px;
    margin-top:240px;
    position: absolute;
    width: 500px;
    line-height: 40px;
}

.contact_btn {
    margin-left: 10px;
    margin-top:370px;
    position: absolute;
    width: 130px;
    height: 50px;
    border: none;
    background: rgb(124, 41, 124);
    font-weight: 60s0;
    font-size: 18px;
    border-radius: 17px;
    color: rgb(66, 152, 202);
}

.contact_btn:hover{
    background: white;
    border: 1px solid rgb(66, 152, 202);
    color: rgb(124, 41, 124);
    cursor: pointer;
    transition: all ease-in-out 1s;
}

@media screen and (max-width:920px){
    .contact_btn {
        margin-left: 10px;
        margin-top:330px;
        width: 120px;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
    }
}


@media screen and (max-width:600px){
    .contact_btn {
        margin-left: 10px;
        margin-top:180px;
        width: 110px;
        height: 40px;
        font-weight: 500;
        font-size: 16px;
    }
}

@media screen and (max-width:600px){
    .contact_btn {
        margin-left: 10px;
        margin-top:180px;
        width: 110px;
        height: 40px;
        font-weight: 500;
        font-size: 16px;
    }
}
